.task-modal {
    h3{
        font-weight: 400;
        color: #172b4d;
    }
    .cover-section {
        width: 100%;
        height: 160px;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        background-color: antiquewhite;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    display: flex;
    // flex-direction: column;
    width: 700px;
    height: 96vh;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 53%;
    overflow-y: auto;
    z-index: 30;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    border: 1px solid rgba(207, 191, 191, 0.6);
    background-color: #f4f5f7;
    button {
        border-radius: 3px;
        padding: 10px;
    }
    > :first-child {
        width: 70%;
    }
    textarea {
        font-size: 16px;
        width: 90%;
        border: none;
        cursor: pointer;
        padding: 8px 10px;
        height: 45px;
        background-color: rgba(9, 30, 66, 0.04);
        &::placeholder {
            color: black;
        }
        &:focus-visible {
            outline: solid 2px #0079bf;
            cursor: text;
            height: 60px;
            background-color: #fff;
        }
    }
    .member-list {
        display: flex;
        button {
            display: flex;
            align-items: center;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            margin-left: 5px;
        }
    }
    .checklist-in-modal {
        margin-bottom: 10px;
        .demo-range-container {
            width: 100%;
            height: 8px;
            background: rgba(9, 30, 66, 0.08);
            border-radius: 4px;
            width: 90%;
            .demo-range-checked {
                background-color: #0079bf;
                height: 8px;
                border-radius: 4px;
            }
        }
    }
    input {
        font-size: 1em;
        width: 90%;
        height: 32px;
        margin: 10px 0;
        border-radius: 5px;
        border: none;
        padding: 7px;
        background-color: rgba(9, 30, 66, 0.04);
        text-align: left;
        cursor: pointer;
        &::placeholder {
            color: black;
            font-size: 1em;
        }
        &:focus-visible {
            cursor: text;
            background-color: #fff;
            outline: solid 2px #0079bf;
        }
    }
    .add-to-task {
        width: 30%;
        display: flex;
        flex-direction: column;
        .right-task-modal {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;
        }
        .right-task-modal-btns {
            display: flex;
            flex-direction: column;
            & > * {
                margin-bottom: 5px;
                text-align: left;
            }
            .right-task-btn {
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 10px;
                font-weight: 400;
                background-color: rgba(0, 0, 0, 0.07);
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                    background-color: #516079;
                    color: white;
                }
                & > :first-child {
                    margin-right: 10px;
                }
            }
        }
    }
    .checklist-items {
        display: flex;
        align-items: center;
        input {
            width: 20px;
            height: 15px;
        }
        & * {
            margin-left: 10px;
        }
    }
    .checklist-svg {
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
        margin-bottom: 15px;
        > :first-child {
            margin-right: 12px;
        }
        .flex {
            align-items: center;
            > :first-child {
                margin-right: 12px;
            }
        }
    }

    .task-header {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        padding-bottom: 80px;
        .task-title {
            width: 100%;
            input{
                margin-left: 2px;
            }
        }
    }

    .label-in-modal {
        border-radius: 3px;
        box-sizing: border-box;
        display: block;
        float: left;
        font-weight: 600;
        height: 32px;
        line-height: 32px;
        margin: 0 4px 4px 0;
        min-width: 40px;
        padding: 0 12px;
        width: auto;
    }
    .save-desc{
         :not(:first-child) {
            margin-left: 10px;
        }
    }
    .task-description-modal {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        .labels-section {
            p {
                margin-bottom: 15px;
            }
            button {
                display: flex;
                align-items: center;
                border-radius: 3px;
                height: 32px;
            }
        }
        .members-section {
            p {
                margin-bottom: 15px;
            }
        }
        // .cover-section{
        //     width: 100%;
        //     height: 50px;
        // }
        .due-date-moment-section {
            cursor: pointer;
            .due-date-moment {
                color: black;
                background-color: #e2e4e9;
                padding: 8px 15px;
                border-radius: 10px;
            }
        }

        .desc-svg {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            > :first-child {
                margin-right: 12px;
            }
        }
        > * {
            margin-bottom: 15px;
        }
    }
    .task-modal-form {
        display: flex;
        flex-direction: column;
        > * {
            margin-bottom: 15px;
        }

        > :last-child {
            padding: 0 0 60px 0;
        }
    }
    .att-svg {
        display: flex;
        align-items: center;
        width: 90%;
        margin-bottom: 15px;
        > :first-child {
            margin-right: 12px;
        }
    }
    .att-modal {
        background-color: #f4f5f7;
        position: absolute;
        left: 100%;
        top: 15%;
        transform: translate(-100%, 0);
        border-radius: 2px;
        border: 1px solid rgba(207, 191, 191, 0.6);
        width: 50%;
        min-height: 300px;
        white-space: nowrap;
        overflow: auto;
        transition: 0.6s;

        .att-modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid black;
            height: 60px;
            > :first-child {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .att-buttons {
            margin-top: 15px;
            > * {
                width: 100%;
                text-align: left;
                background-color: #f4f5f7;
                &:hover {
                    color: inherit;
                    background-color: rgba(9, 30, 66, 0.04);
                }
            }
        }
    }
    .attachments-container {
        display: flex;
        height: 80px;
        margin-bottom: 15px;

        &:hover {
            background-color: rgba(9, 30, 66, 0.04);
        }
        img {
            height: 80px;
        }
        .att-details {
            margin-left: 10px;
            .att-btns {
                display: flex;
                align-items: center;
                margin-top: 15px;
                button {
                    height: 20px;
                    display: flex;
                    align-items: center;
                    &:not(:first-child) {
                        margin-left: 5px;
                    }
                }
            }
        }
        .att-edit {
            background-color: #f4f5f7;
            position: absolute;
            z-index: 50;
            left: 100%;
            top: 15%;
            transform: translate(-534px, 170px);
            border-radius: 2px;
            border: 1px solid rgba(207, 191, 191, 0.6);
            height: 170px;
            width: 270px;

            .att-edit-main {
                margin-top: 10px;
                margin-left: 10px;
                button {
                    margin-left: 40%;
                }
            }
            .att-edit-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid black;
                > :first-child {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}
