@import "../../mixins";

.member-modal {
    background-color: #f4f5f7;
    position: absolute;
    top: 2vh;
    right: -208px;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    width: 280px;
    max-height: 75vh;
    white-space: nowrap;
    overflow: auto;
    transition: 0.3s;
    z-index: 10;
    color: #172b4d;
    cursor: default;
    .member-icon {
        width: 20px;
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        input {
            width: 90%;
        }
    }
    h3 {
        margin: 10px 0;
        margin-left: 15px;
        font-weight: 600;
    }
    .member-container {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        li {
            width: 90%;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            transition: 0.3s;
            cursor: pointer;
            margin-bottom: 10px;
            &:hover {
                background-color: #516079;
                color: white;
            }
        }
        .member-details {
            > * {
                margin: 1px 5px;
            }
        }
    }
}

.member-modal-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@include narrow {
    .member-modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        max-height: 100vh;
    }
}
