.landing-page-container {
    > :nth-child(2) {
        background-color: #5ac5cd;
        > :first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            height: 100%;
            > :first-child {
                h3 {
                    font-size: 25px;
                    font-weight: 600;
                }
                p {
                    font-size: 20px;
                }
            }
            img {
                width: 600px;
            }
        }
    }
    > :nth-child(3) {
        
    }
}

.landing-page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}
