@import "../../mixins";

.landing-page-container {
    background-color: #fef8f2;
    position: absolute;
    top: 0;
    width: 100%;
    * {
        user-select: none;
    }
    > :first-child {
        margin-top: 6.5vh;
    }
}

.landing-page-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fef8f2;
    a {
        font-weight: 400;
        font-size: 35px;
        letter-spacing: 2px;
        span {
            color: #eb342d;
        }
    }
}

.try-btn {
    position: fixed;
    bottom: 2vh;
    right: 10vw;
    background-color: #eb342d;
    font-size: 17px;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    transition: 0.3s;
    a {
        padding: 0.7em 0.5em;
        width: 100%;
        height: 100%;
    }
    &:hover {
        transform: translateY(-10%);
    }
}

.landing-page-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 330px;
    > * {
        width: 100%;
        height: 100%;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        h3 {
            font-size: 30px;
            font-weight: 600;
            margin: 10px 0;
        }
        p {
            font-size: 17px;
            max-width: 450px;
            line-height: 1.6rem;
        }
    }
    article {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 80%;
        }
    }
}

@include normal {
    .landing-page-container {
        top: 6.5vh;
        height: 93.5vh;
        > :first-child {
            margin-top: 0;
        }
    }
    .landing-page-section {
        height: 33.33%;
        article {
            img {
                width: 80%;
            }
        }
    }
}

@include narrow {
    .landing-page-container {
        height: fit-content;
        justify-content: end;
    }
    .landing-page-section {
        grid-template-columns: 1fr;
        width: 85%;
        height: 400px;
        article {
            img {
                width: 70%;
            }
        }
    }
    .landing-page-section-right {
        >:first-child {
            grid-row: 2/3;
        }
    }
}
