.landing-page-container {
    background-color: #fef8f2;
    position: absolute;
    top: 0;
    width: 100vw;
    * {
        user-select: none;
    }
    > :first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        > :first-child {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            height: 70%;
            h3 {
                span {
                    color: #eb342d;
                }
            }
            p {
                font-size: 25px;
                span {
                    color: #eb342d;
                }
            }
        }
        > :nth-child(2) {
            align-items: flex-end;
            height: 100%;
            > :first-child {
                margin-bottom: 9em;
                border: 1px solid rgba(128, 128, 128, 0.5);
                padding: 1em;
                font-size: 15px;
                background-color: rgb(245, 245, 245);
                opacity: 0.8;
                transition: 0.3s;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.landing-page-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    h3 {
        font-size: 30px;
        font-weight: 600;
        margin: 10px 0;
    }
    p {
        font-size: 17px;
        width: 400px;
        line-height: 1.6rem;
    }
    img {
        width: 500px;
    }
}
