@import "../../mixins";
.board-menu {
    position: absolute;
    max-width: 0;
    bottom: 0;
    right: 0;
    width: 340px;
    height: 95vh;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #f4f5f7;
    z-index: 50;
    transition: 0.3s;
    box-shadow: 0 0 20px 0px #c1c1c1;
    overflow: hidden;
    white-space: nowrap;
    * {
        user-select: none;
    }
    textarea {
        cursor: pointer;
        &:focus-visible {
            outline: solid 2px #0079bf;
            cursor: text;
            background-color: #fff;
        }
    }
}

.menu-main {
    width: 100%;
    > * {
        justify-content: center;
        width: 100%;
    }
    > :first-child {
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
        flex-direction: row;
        align-items: center;
        height: 7vh;
        p {
            position: absolute;
            cursor: pointer;
            right: 20px;
            &:hover {
                transform: rotate(180deg);
            }
        }
    }
    > :nth-child(2) {
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 30vh;
        > * {
            padding: 10px 13px;
            width: 90%;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
            font-weight: 600;
            &:hover {
                background-color: rgba(9, 30, 66, 0.08);
            }
        }
    }
    > :nth-child(3) {
        overflow: auto;
        flex-direction: column;
        justify-content: start;
        height: 58vh;
        h3 {
            text-align: center;
            margin-top: 20px;
        }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            li {
                white-space: normal;
                width: 90%;
                padding: 10px 13px;
                margin: 5px 0;
                p {
                    cursor: default;
                    span {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.menu-about {
    > :nth-child(2) {
        flex-direction: column;
        height: 88vh;
        overflow: auto;
        > :first-child {
            // Members
            display: flex;
            padding: 10px 13px;
            margin: 10px 5px;
            flex-direction: column;
            justify-content: space-around;
            height: 100px;
            h3 {
                font-size: 16px;
            }
            > :nth-child(2) {
                margin: 10px 0;
                display: flex;
                justify-content: start;
                align-items: center;
                margin-left: 3%;
                > * {
                    margin-left: -3%;
                }
            }
            > :last-child {
                font-weight: 600;
            }
        }
        > :nth-child(2) {
            // Description
            padding: 10px 13px;
            margin: 5px;
            justify-content: space-between;
            flex-direction: column;
            min-height: 130px;
            h3 {
                font-size: 16px;
            }
            textarea {
                width: 100%;
                background-color: transparent;
                border: none;
                padding: 10px;
                font-size: 14px;
                min-height: 100px;
                margin: 10px 0;
            }
        }
        > :nth-child(3) {
            // Statistics
            flex-direction: column;
            padding: 10px 13px;
            margin: 5px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.5);
            h3 {
                font-size: 16px;
            }
            h4 {
                font-size: 14px;
            }
            > :first-child {
                margin-bottom: 20px;
            }
            canvas {
                width: 100% !important;
                margin: 20px 0;
            }
        }
        > :last-child {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 300px;
            padding-bottom: 1em;
            h3 {
                font-size: 16px;
                width: 90%;
                margin: 30px 0;
            }
            button {
                // delete board button
                width: 80%;
                height: 50px;
                &:hover {
                    background-color: red;
                }
            }
            .authMsg {
                font-size: 14px !important;
                text-align: center;
                font-weight: 600;
                color: red;
                white-space: normal;
                margin: 0 0 30px 0;
            }
        }
    }
}

.menu-background {
    > :nth-child(2) {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 88vh;
        overflow: auto;
        > :first-child {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 90%;
            margin: 1em 0;
            > :nth-child(2) {
                flex-wrap: wrap;
                width: 306px;
                aside {
                    margin: 1em;
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    border-radius: 15px;
                    transition: 0.3s;
                    &:hover {
                        transform: translateY(-15%);
                    }
                }
            }
        }
        > :nth-child(2) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 1em 0;
            width: 306px;
            border-top: 1px solid rgba(128, 128, 128, 0.5);
            h4 {
                margin: 1em 0;
                font-size: 16px;
            }
            > :nth-child(2) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
                img {
                    cursor: pointer;
                    border-radius: 20px;
                    width: 145px;
                    height: 100px;
                    transition: 0.3s;
                    &:hover {
                        filter: brightness(75%);
                        transform: translateY(-5%);
                    }
                }
            }
        }
    }
}

.menu-filter {
    > :nth-child(2) {
        width: 100%;
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            width: 100%;
            input {
                width: 90%;
            }
        }
    }
    > :nth-child(3) {
        h4 {
            margin: 1em 1.1em;
            font-size: 16px;
        }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            li {
                display: flex;
                justify-content: start;
                align-items: center;
                transition: 0.3s;
                border-radius: 10px;
                width: 90%;
                padding: 0 10px;
                margin: 5px 0;
                cursor: pointer;
                opacity: 0.7;
                > * {
                    padding: 10px 13px;
                    margin: 10px 0;
                    font-weight: 600;
                }
                > :first-child {
                    width: 30px;
                    height: 30px;
                    border-radius: 10px;
                }
                p {
                    width: 100%;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.menu-labels {
    > :nth-child(2) {
        height: 88vh;
        overflow: auto;
        ul {
            li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 1em;
                border-radius: 10px;
                font-weight: 600;
                width: 90%;
                height: 60px;
                form {
                    width: 90%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    > * {
                        cursor: pointer;
                        border: none;
                        background-color: inherit;
                        margin-left: 5px;
                    }
                    label {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    input[type="text"] {
                        font-weight: 600;
                        font-size: 15px;
                        width: 80%;
                        height: 100%;
                        border-radius: 0;
                        &:focus-visible {
                            outline: none;
                            border-bottom: 1px solid black;
                            cursor: text;
                        }
                    }
                    input[type="color"] {
                        visibility: hidden;
                        width: 10%;
                        border-radius: 50px;
                    }
                }
                p {
                    width: 10%;
                }
            }
            > :last-child {
                color: black;
                cursor: pointer;
                p {
                    width: 100%;
                    margin: 0 0 0 15px;
                    padding: 7px 0;
                    transition: 0.2s;
                    border-bottom: 1px solid rgba(0, 0, 0, 0);
                    &:hover {
                        border-bottom: 1px solid #000;
                    }
                }
                input {
                    cursor: text;
                }
            }
        }
    }
}

.sub-menu {
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.3s;
    overflow: hidden;
    white-space: nowrap;
    background-color: #f4f5f7;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .fa {
        font-size: 20px;
        cursor: pointer;
    }
    > :first-child {
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 7vh;
        h3 {
            font-size: 17px;
            font-weight: 600;
        }
        > p:first-of-type {
            position: absolute;
            left: 20px;
        }
        > p:last-of-type {
            position: absolute;
            right: 20px;
            &:hover {
                transform: rotate(180deg);
            }
        }
    }
}

.board-menu-loader {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 340px;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f5f7;
    z-index: 50;
    transition: 0.3s;
    box-shadow: 0 0 20px 0px #c1c1c1;
}

.cloud-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 0.3s;
    &:hover {
        background-color: #516079;
        color: white;
    }
}

.cloud-menu-loader {
    position: fixed;
    top: 12.6vh;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 440px;
    height: 470px;
    border-radius: 10px;
    z-index: 50;
    background-color: antiquewhite;
    img {
        width: 30%;
    }
}

@include narrow {
    .board-menu {
        height: 100vh;
    }
    .menu-main {
        > :first-child {
            height: 10vh;
        }
        > :nth-child(2) {
            height: 50vh;
        }
        > :nth-child(3) {
            height: 40vh;
        }
    }
    .sub-menu {
        > :first-child {
            height: 10vh;
        }
    }
}
