.label-modal {
    background-color: #f4f5f7;
    position: relative;
    left: 100%;
    transform: translate(-25.7%, 0);
    border-radius: 2px;
    border: 1px solid rgba(207, 191, 191, 0.6);
    width: 280px;
    white-space: nowrap;
    overflow: auto;
    z-index: 10;
    top: 175px;
    color: #172b4d;

    .labels-modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
        margin: 0 10px 0 10px;
        height: 60px;
        > :first-child {
            margin-left: auto;
            margin-right: auto;
        }
        button {
            background-color: inherit;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
        }
    }
    .label-container {
        > * {
            width: 80%;
            height: 12%;
            padding: 0 12px;
            position: relative;
            color: white;
        }
        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .label-to-show {
                display: flex;
                justify-content: space-between;
                border-radius: 3px;
                cursor: pointer;
                font-weight: 700;
                min-height: 20px;
                padding: 6px 12px;
                position: relative;
                transition: padding 85ms, margin 85ms, box-shadow 85ms;
                width: 80%;
            }
        }
        .edit-label-btn {
            width: 20%;
            background-color: inherit;
        }
    }
}
