@import "../../mixins";

.label-edit-modal {
    background-color: #f4f5f7;
    position: absolute;
    right: 0;
    left: -135px;
    top: 16px;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    width: 280px;
    height: 261px;
    white-space: nowrap;
    overflow: auto;
    transition: 0.3s;
    z-index: 10;
    color: #172b4d;
    .labels-edit-modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
        height: 60px;
        > * {
            margin: 0 10px;
            font-size: 16px;
            font-weight: 600;
            background-color: inherit;
        }
        button {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            padding: 0;
            &:hover {
                background-color: #516079;
            }
        }
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            font-weight: 600;
            margin: 10px 0;
        }
        .edit-color {
            padding: 0;
            background-color: inherit;
        }
        input {
            width: 90%;
            margin: 0;
            opacity: 0.7;
            transition: 0.3s;
            &:hover {
                opacity: 1;
            }
        }
        input[type="text"] {
            cursor: text;
        }
        button {
            margin: 10px 0;
        }
    }
}

@include narrow {
    .label-edit-modal {
        position: fixed;
        width: 80vw;
        top: 15%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
