@font-face {
    font-family: abril;
    src: url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
    font-family: abril;
}

body {
    font-family: abril;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

input {
    padding: 0 10px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 7px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 40px;
    &::placeholder {
        color: black;
        font-size: 1em;
        opacity: 0.5;
    }
    &:focus-visible {
        outline: solid 1px #0079bf;
        cursor: text;
        background-color: #fff;
    }
}

textarea {
    width: 200px;
    padding: 1em;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 7px;
    font-family: abril;
    resize: none;
    &::placeholder {
        color: black;
        font-size: 1em;
        opacity: 0.5;
    }
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
    padding: 0.5em 1em;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.07);
    transition: 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    cursor: pointer;
    &:hover {
        background-color: #516079;
        color: white;
    }
}

.App {
    background-repeat: repeat-y;
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    justify-content: flex-start !important;
    height: 100vh;
    overflow: auto;
}

// loader

.loader-container {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffdeab;
}

// confirm

.react-confirm-alert-body {
    background-color: #f4f5f7 !important;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 7px !important;
    padding: 20px 25px !important;
    > * {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    }
    h1 {
        margin-bottom: 10px;
    }
    > :nth-child(2) {
        justify-content: flex-end !important;
        > :first-child {
            background-color: red;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }
}

// Helpers

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.flex {
    display: flex;
}

.link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.hide-overflow {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.btn-close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    &:hover {
        color: white;
        background-color: #516079;
    }
}

.fa {
    font-size: 20px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    height: 8vh;
    cursor: default;
    h3 {
        font-weight: 600;
        user-select: none;
    }
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            color: white;
            background-color: #516079;
        }
    }
}

.cloud-loader {
    position: fixed;
    width: 700px;
    height: 600px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    top: 10vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 50;
    img {
        width: 30%;
    }
}
