@import "../../mixins";

.checklist-modal {
  background-color: #f4f5f7;
  position: absolute;
  top: 17px;
  right: -208px;
  border-radius: 2px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 280px;
  white-space: nowrap;
  overflow: auto;
  transition: 0.3s;
  z-index: 10;
  color: #172b4d;
  cursor: default;
  h3 {
    cursor: text;
    font-weight: 600;
    padding: 10px;
  }
  form {
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    input {
      cursor: text;
      margin-top: 0;
      width: 100%;
    }
  }
}

@include narrow {
  .checklist-modal {
    position: fixed;
    width: 80vw;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
